@CHARSET "UTF-8";

/*header*/
.header { /*background:#35404d;*/background:#c91616; height:56px; width:100%; overflow:hidden;/* border-bottom: #ed6c44 solid 4px;*//*border-bottom: 1px solid #090909;*/  }
.header .logo{  margin-top:4px;}
.header .topRight{ float: right;height: 56px; }
.header .topRight h6{ font-size: 16px; color: #fff; line-height: 56px; margin-right: 10px; font-weight: 100; }
.header .topRight a{ font-size: 16px; color: #fff; line-height: 56px; margin-right: 10px; font-weight: 100; }
.header .topRight .loginInfo_quickMenu{ overflow:hidden; }
.loginInfo_quickMenu ul{}
.loginInfo_quickMenu ul li{ position: relative; margin: 20px 15px 0 0; height: 56px; width: 25px; }
.loginInfo_quickMenu ul li img{position: absolute;}
.topRound{ position:absolute; top:-10px; right:-7px;width:22px; height:18px; background-color:#F00; border-radius:25px; }
.topRound span{ height:20px; line-height:20px; display:block; color:#FFF; text-align:center;font-size: 12px;}

/*导航菜单
.headmenu{ background:url(../images/head/menu_bg.png)url(../images/head/noise.white.png)  repeat-x; width: 100%; height: 58px;background-position:0 -1px;}
.headmenu ul{}
.headmenu ul li{ font-size: 15px; text-align: center; color: #2c3e50; margin-left: 60px;padding-top: 5px;float:left;}
.headmenu i{line-height:25px; height:25px;width:100%;display:block;font-style: normal;}
.headmenu ul li:hover a{ color: #f56032;}
.headmenu ul li.current a{ color: #f56032;}
*/

.headmenu{
	/*background: #222;border-bottom: #ed6c44 solid 4px;box-shadow: 0 1px 0 #333 inset;*/
	background:url(../images/head/menu_bg.png) repeat-x;

    color: #666;
    font-size: 15px;
    line-height: 16px;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    height: 58px;
    overflow: hidden;
    position: relative;
}

.headermenu {
    border-right: 1px solid #333;
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    display: inline-block;
    list-style: outside none none;
    overflow: hidden;
}

.headermenu li:first-child {
    border-left: 0 none;
}

.headermenu li {
    display: inline-block;
    float: left;
    min-width: 120px;
}

.headermenu li a {
    text-align: center;
    /*color: #e0e0e0;*/
    color: #666;
    display: block;
    padding: 5px 25px;
    text-transform: uppercase;
    outline: medium none;
    text-decoration: none;
}

.headermenu li a:hover {
	/*background: #161616 none repeat scroll 0 0;
	color: #fff;
	box-shadow: 0 1px 0 #222 inset;*/
	color: #ed6c44;

}

.headermenu li a span.icon {
    display: block;
    height: 25px;
    margin-bottom: 3px;
}
.headermenu li a span {
    opacity: 0.5;
}

.headermenu li.current {
    border-right: 0 none;
    border-left: 0 none;

}

.headermenu li.current a {
    /*background: #161616 none repeat scroll 0 0;
    color: #fff;
    box-shadow: 0 1px 0 #222 inset;
    */
    color: #ed6c44;


}

.headermenu li.current a span {
    opacity: 1;
}



/*左侧*/
.home{ overflow:hidden;height: 100%;}
.home .left{ height:100%;width:100%; background:#fff; overflow: hidden;}
.home .left .lmenu{border-bottom:1px solid #dbdbdb;}

.home .left .lmenu h5{ position:relative;background:#fff; line-height:50px; font-weight:500; height:50px;font-size:18px;}

.home .left .lmenu a{ display:block; width:100%;border-bottom:0px solid #dbdbdb; height:32px; font-size:13px; line-height:32px; text-indent:35px; color:white;white-space:nowrap; }
.home .left .lmenu a:hover{ hide-focus: expression(this.hideFocus=true);/* color: #fff;background-color: #9a9b94; */color: #ed6c44;}

.home .left .lmenu a.current{ color: #ed6c44;font-weight: bold;}
.home .left .lmenu a.current:hover{/* color:#fff; */ hide-focus: expression(this.hideFocus=true);}

.home .left .lmenu i{ font-style:normal;}
.home .left .lmenu span{position: absolute; right: 15px; color: #666;}

.home .left .lmenu dt a{ display:block; width:100%;background:#f8f8f8;  height:32px; font-size:13px; line-height:32px; text-indent:58px; color:#aeb2b7;}
.home .left .lmenu dt a:hover,.content .left dl dd a.current{ /*background: #fcebfc;*/ color: #ed6c44;}


/*重写 e1.3.6*/
/*accordion*/

.panel-header,
.panel-body{
	border-width: 1px;
	border-style: none;
}
.panel:first-child{
     border-radius:0px 0px 0 0;
}
.panel:last-child{
     border-radius:0 0 0px 0px;
}

.home .left .accordion ul:first-child{
     border-radius:6px 6px 0 0;
}
.home .left .accordion ul:last-child{
     border-radius:0 0 6px 6px;
}

.home .left .accordion{/*background-color:#111111#525B64*/;	border-radius:6px;
	-o-border-radius:6px;
	-ms-border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	width: 190px!important;
	margin: 0px 0px 0px 10px;
	/* background: #f9f8f7; */
	 background: #4e4e4e;
/* 	 min-height:10px!important;
	 height: auto!important;
	 height:10px; */
	}
.home .left .accordion .accordion-header {
    position:relative;/* line-height:36px; font-weight:300; height:36px;font-size:16px;*/
    background:#525B64;/*background:url(../images/test.jpg); repeat-x;*/
    border-width: 0;
    height:25px!important;
    color:white;

}
.home .left ul.lmenu li,
.home .left .accordion .accordion-header .panel-title{color:white; /*background:#525B64*/; display:block;height: 32px;/*line-height: 32px;*/font-weight:normal;font-size: 16px;}

.home .left .accordion ul.accordion-header:hover,
.home .left .accordion .accordion-header:hover,
.home .left .accordion .accordion-header-selected  {   background: #5e6773!important;}

.home .left .accordion ul.accordion-header-selected  {background: #525B64;}
.home .left .accordion ul.accordion-header-selected:hover li.panel-title,
.home .left .accordion ul.accordion-header-selected li.panel-title{font-weight:bold;}

.home .left .accordion .accordion-header:hover .panel-title,
.home .left .accordion .accordion-header-selected .panel-title{font-weight:normal;background: #5e6773;color: #ed6c44;}
.home .left .accordion .accordion-header .panel-with-icon{padding-left:30px;margin-top: 3px;height: 100%;}

.home .left .extendAccordion .accordion-header .panel-with-icon{padding-left:30px;height:20px!important;
    line-height: 20px!important;}

.home .left .accordion .accordion-header .panel-icon{
	/*
	height:26px;
	width:30px;
	display:block;
	vertical-align:middle;
	top:0px;
	*/
	height: 14px;
    width: 17px;
    display: block;
    vertical-align: middle;
    top: -2px;
    margin-left:5px;
    background-size: 100% 100%;
 /* -moz-background-size: 100%;
    -webkit-background-size: 100%; */
    background:none\9;
    margin-top:10px;
}

.home .left .extendAccordion .accordion-header .panel-icon{
	height: 12px;
    width: 12px;
    margin-left:8px;
    margin-top: 10px;
}


.home .left .accordion .accordion-header .panel-tool {top: 16px;right: 10px;}
.home .left .extendAccordion .accordion-header .panel-tool {
    top: auto;
    right: auto;
    position: static;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}

.home .left .extendAccordion .accordion-header-selected  {background: #eee}


.home .left .accordion .accordion-header .panel-tool .accordion-collapse{
	background:url('../images/menu/accordion_collapse_lm.png') no-repeat;
	hide-focus: expression(this.hideFocus=true);
	filter:none;
	background-position:center;
	height:14px;width:14px;
	background-size: 100% 100%;
	margin-top: -2px;
}

.home .left .accordion .accordion-header .panel-tool .accordion-expand{
	background:url('../images/menu/accordion_expand_lm.png') no-repeat;
	hide-focus: expression(this.hideFocus=true);
	filter:none;
	background-position:center;
	/* height:14px;width:14px; */
	background-size: 100% 100%;
	 margin-top: 2px; 
}

.home .left .extendAccordion .accordion-header .panel-tool .accordion-collapse{
	background:url('../images/menu/accordion_expand_lm01.png') no-repeat;
	height:12px;width:12px;
}
.home .left .extendAccordion .accordion-header .panel-tool .accordion-expand
{
	background:url('../images/menu/accordion_expand_lm.png') no-repeat;
	height:12px;width:12px;
}


.home .left .accordion .accordion-body{
	/*background:transparent;*/
	/*background:#111111;*/
	background:#4e4e4e;
	overflow-x:hidden;

}
/*#lmenuDiv .accordion .panel{
	margin:10px 0px 0px 0px;
}*/
/*三级目录、四级菜单*/
.home .left .extendAccordion .accordion-header {
    position:relative;/* line-height:36px; font-weight:300; height:36px;font-size:16px;*/
    background:#4e4e4e;
    border-width: 0;
    height: 22px;
    border-radius: 6px;
}

.home .left .extendAccordion .accordion-header .panel-title{
	height: 22px;
	line-height: 22px;
	font-size: 13px;
	float: left;
	/* background: #4e4e4e; */
}



/*菜单图标*/
.lm_icon_style{display:block;float:left; margin-top:8px; margin-left:0px ; margin-right:5px;}

lm_icon_style_sub{display:block;float:left; margin-top:8px; margin-left:0px ; margin-right:10px;}


ul.list_li_sub{ /* padding-bottom:10px; */padding-left: 35px;background-color:#4e4e4e}
ul.list_li_sub li{ line-height:30px; padding-left:5px; position: relative;text-indent: 5px; }
ul.list_li_sub li:hover{ color: #ed6c44;}
ul.list_li_sub li.list_li_sub_actived{ color: #ed6c44;}
.home .left .extendAccordion ul.list_li_sub li a,
ul.list_li_sub li a{height: 30px;line-height: 30px;text-indent: 5px;}
.list_li_sub_line{ width:20px; height:14px; border-bottom:1px dotted white; border-left:1px dotted white; position:absolute; left:-15px; top:0px;}
.list_li_sub_line2{ width:20px; height:15px; border-left:1px dotted #666; position:absolute; left:-15px; top:14px;}


/*
.lm-icon1{ background:url(../images/menu/l-icon1.png) no-repeat; height:23px; width:25px;}
.lm-icon1:hover,
.home .left .accordion .accordion-header:hover .lm-icon1,
.home .left .accordion .accordion-header-selected .lm-icon1,
.lm-icon1.current{ background:url(../images/menu/l-icon1_white.png) no-repeat;hide-focus: expression(this.hideFocus=true);}
*/

/*center*/
.home .right .tabs-header{
	/*
	border:1px solid #D3D3D3;
	background:#efefef;
	border-bottom:0px;
	position:relative;
	overflow:hidden;
	padding:0px;
	padding-top:10px;
	overflow:hidden;
	*/
	border-right:#c9c9c9 solid 1px;
	background:url(../images/head/tab_bg.gif) repeat-x;
	padding:0;
	display:block;
	position:relative;
	border: none;
}

.home .right .tabs {
    background:url(../images/head/tab_bg.gif) repeat-x;
    height:28px!important;
    line-height:28px;
    padding-left: 0px;
    /*border-width: 1px 0 1px 0;*/
    border-bottom: 1px solid #7777777;
    border-top: 1px solid #7777777;
    border:0px;
}

.home .right .tabs li {
    float:left;  /*+width:12%;*/
    border:0px;
    /* border-right: #dddddd solid 1px; */
    /* background:url(../images/head/tab_bg.gif) repeat-x; */
    padding:0;
    position:relative;
    height:28px!important;
    line-height:28px;
    margin-right: 5px;
    /* border-radius:15px; */

    background:#cbcbcb;
    border-radius:6px;
	-o-border-radius:6px;
	-ms-border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
}
.home .right .tabs li:hover{
	/* background:#eee;
	color:#2c3e50; */
	background:#eb5767;
	color:white;
}

.home .right .tabs li a.tabs-inner {
    white-space: nowrap;
    display: inline-block;
    height:28px!important;
    line-height:28px;
    margin:0 3px;
    color:#777777;
    background: none;
    filter:none;
    border:0px;
}

.home .right .tabs li a.tabs-inner .tabs-title{
	font-size: 14px;
}

.home .right .tabs li a.tabs-inner:hover{
	/* background:#eee;
	color:#2c3e50; */
	background:#eb5767;
	color:white;

}

.home .right .tabs li.tabs-selected {
    /* background: #ddd; */
    background: #eb5767;
    color:#2c3e50;
    font-style: normal;
    font-weight: normal;

	border-radius:6px;
	-o-border-radius:6px;
	-ms-border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
}

.home .right .tabs li.tabs-selected a{

}

.home .right .tabs li.tabs-selected a.tabs-inner{
	font-style: normal;
    font-weight: normal;
    background:none;
    /* color:#2c3e50; */
    color:white;
    filter:none;
    border:0px;
}

.home .right .tabs li a.tabs-close{
	position:absolute;
	float:right;
	/*
	top: 5px;
	height:20px;
	width:20px;
	right: 0px;
	background:none;
	display: block;
	filter:none; */
	right: 5px;
    top: 8px;
    height:8px;
	width:10px;
	background:rgba(0, 0, 0, 0) url("../images/head/chosen-sprite.png") no-repeat scroll 0 0;
}

.home .right .tabs li a.tabs-close:hover{
	filter:none;
	cursor:hand;
	cursor:pointer;
	/* background:rgba(0, 0, 0, 0) url("../images/head/chosen.png") no-repeat scroll 0 0; */
}

.home .right .tabs li.tabs-selected a.tabs-close{
	position:absolute;
	float:right;
	right: 5px;
    top: 8px;
    height:8px;
	width:10px;
	background:rgba(0, 0, 0, 0) url("../images/head/chosen-sprite-white.jpg") no-repeat scroll 0 0;
}

.home .right .tabs li a.tabs-close:hover{
	position:absolute;
	float:right;
	right: 5px;
    top: 8px;
    height:8px;
	width:10px;
	background:rgba(0, 0, 0, 0) url("../images/head/chosen-sprite-white.jpg") no-repeat scroll 0 0;
}




/*一级页面*/
.san_head{ height:70px; line-height:70px; background:#ed5565; border-bottom:3px solid #da4453; padding:0 20px;}
.san_head_logo{ float:left; padding:12px 0; height:46px;}
.san_head_logo img{ width:460px; height:46px;}

.san_head_right{ height:26px; line-height:26px; padding:22px 0; float:right; overflow:hidden;}
/* .san_head_right i{ display:block; float:right; width:26px; height:26px; padding-left:10px;}
.san_head_right i img{ vertical-align:text-bottom; width:26px; height:26px;} */
.san_head_right i{ position: relative; /* margin: 20px 15px 0 0; */
					display:block; float:right; height: 26px; width: 26px;  padding-left:10px;}
.san_head_right i img{position: absolute;vertical-align:text-bottom; width:26px; height:26px;}

.san_head_right p{ float:right; padding-left:20px; font-size:14px; color:#fff;}
.san_head_right h2{ float:right; font-weight:normal; font-size:14px; color:#fff;}
.san_main{ padding:10px 10px;}
.san_main_left{ width:70%; float:left;}
.san_main_right{ width:30%; float:left;}
.san_main_menu{ background:#ed5565; border-bottom:3px solid #da4453; border-radius:5px;}
.san_main_menu ul{ overflow:hidden;}
.san_main_menu ul li{ float:left; text-align:center;}
.san_main_menu ul li a{ display:block; padding:10px 8px; margin:0 auto; border-right:1px solid #da4453; overflow:hidden;}
.san_main_menu ul li:last-child a{ border-right:0;}
.san_main_menu ul li a:hover{ background:#da4453;}
.san_main_menu ul li:first-child a:hover{ border-radius:5px 0 0 5px;}
.san_main_menu ul li:last-child a:hover{ border-radius:0 5px 5px 0;}
.san_main_menu ul li span{ margin:0 auto; display:block; float:left;}
.san_main_menu ul li p{ color:#fff; font-size:14px; line-height:22px;height:22px; float:left; padding-left:3px;}
.san_survey{ overflow:hidden;}
.san_survey h1{ color:#da4453; font-size:26px; line-height:53px; height:53px; font-weight:normal; padding:10px 0;}
.san_survey_left{ float:left; width:50%;}
.san_survey_left_content{ margin-right:5px; background:#fff; border-radius:5px; border-bottom:3px solid #e3e4e8;}
.san_survey_left_content h2{ font-weight:bold; color:#818080; padding:10px 10px; line-height:30px; text-align:center; font-size:18px;}
.san_survey_left_blue{ background:#4fc1e9; padding:10px 0; margin:0 10px;}
.san_survey_left_blue table{}
.san_survey_left_blue table td{ background:none; color:#fff; font-size:14px; line-height:20px; padding:0 10px;}
.san_survey_left_table{ height:263px; text-align:center; padding:10px;}
.san_survey_right{ float:left; width:50%;}
.san_survey_right_content{ margin-left:5px; background:#fff; border-radius:5px; border-bottom:3px solid #e3e4e8;}
.san_survey_right_content h2{ font-size:20px; color:#fff; background:#4fc1e9; border-bottom:3px solid #3bafda; height:30px; line-height:30px; padding:10px 0; border-radius:5px; text-align:center;}
.san_survey_right_table{ background:#fff; padding:1px 10px 10px;}
.san_survey_right_table table td{ background:none; line-height:20px; padding:22px 5px; font-size:16px; color:#8a8989; text-align:center; border-right:1px solid #c7c8c9;}
.san_survey_right_table table tr.san_survey_right_table_gray td{ background:#f0f2f5; padding:13px 5px;}
.san_survey_right_table table td.san_survey_right_table_border{ border-right:0;}
.san_main_right_info{ padding:10px 0 0 10px;}
.san_main_right_info h1{ font-size:20px; color:#fff; line-height:60px; height:60px; background:#fc6e51; border-radius:5px; border-bottom:3px solid #e9573f; text-align:center; position:relative; padding:0 80px;}
.san_main_right_info h1 span{ position:absolute; right:30px; top:0; display:block; color:#fff; font-size:50px;}
.san_main_right_info h1 i{ position:absolute; left:30px; top:6px; display:block;}
.san_main_right_info ul{ padding:0;}
.san_main_right_info ul li{ font-size:14px; color:a8a8a8; height:40px; line-height:40px; padding:0 80px 0 10px; position:relative;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.san_main_right_info ul li.san_main_right_info_bg{ background:#f6f8fa;}
.san_main_right_info ul li a{color:#a8a8a8;}
.san_main_right_info ul li a:hover{ color:#666;}
.san_main_right_info ul li span{ position:absolute; right:10px; top:0;}
.san_main_right_message{ padding:10px 0 0 10px;}
.san_main_right_message h1{ font-size:20px; color:#fff; line-height:60px; height:60px; background:#48cfad; border-radius:5px; border-bottom:3px solid #37bc9b; text-align:center; position:relative; padding:0 80px;}
.san_main_right_message h1 span{ position:absolute; right:30px; top:0; display:block; color:#fff; font-size:50px;}
.san_main_right_message h1 i{ position:absolute; left:30px; top:6px; display:block;}
.san_main_right_message ul{ padding:0;}
.san_main_right_message ul li{ font-size:14px; color:a8a8a8; height:40px; line-height:40px; padding:0 80px 0 10px; position:relative;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.san_main_right_message ul li.san_main_right_message_bg{ background:#f6f8fa;}
.san_main_right_message ul li a{color:#a8a8a8;}
.san_main_right_message ul li a:hover{ color:#666;}
.san_main_right_message ul li span{ position:absolute; right:10px; top:0;}
.san_main_menu_actived{ background:#da4453;}
.san_main_menu ul li.san_main_menu_actived:first-child{ border-radius:5px 0 0 5px;}
.san_main_menu ul li.san_main_menu_actived:last-child{ border-radius:0 5px 5px 0;}

/*财务指标*/
.money_left{ width:30%; float:left;}
.nTab{overflow:hidden;}
.none {display:none;}
.nTab .TabTitle li{float:left;cursor:pointer; padding-top:10px;height:40px;line-height:40px;width:50%; text-align:center; font-size:16px; font-weight:bold; position:relative;}
.nTab .TabTitle li a{text-decoration:none;}
.nTab .TabTitle .active{ border-bottom:3px solid #ed5565;color:#da4453;}
.nTab .TabTitle .active span{ position:absolute; left:0; bottom:-8px; height:5px; width:100%; background:url(../images/money_arrow.png) center top no-repeat; display:block;}
.nTab .TabTitle .normal{color:#da4453; font-size:16px;}
.nTab .TabContent{clear:both;overflow:hidden;background:#fff;padding:10px;display:block; border-radius:5px; font-size:14px; border-bottom:3px solid #e3e4e8;}
.TabContent h2{ font-size:20px; text-align:center; height:20px; line-height:20px; padding:15px 0; background:#ac92ec; color:#fff; border-bottom:3px solid #967adc; font-weight:normal;}
#myTab1_Content0 table{ margin-top:5px;}
#myTab1_Content0 table td{ border:2px solid #fff; font-size:14px; color:#696969; line-height:20px; text-align:center; padding:5px;}
.money_right{ width:70%; float:left;}
.money_right_content{ background:#fff; border-radius:5px; margin:10px 0 0 10px; padding:0 0 10px; border-bottom:3px solid #e3e4e8;}
.money_right_content h1{ font-size:16px; font-weight:normal; color:#8a8989; line-height:20px; height:20px; padding:10px 10px;}
.money_right_purple{ background:#ac92ec; margin:0 10px; padding:10px 0; border-radius:5px 5px 0 0;}
.money_right_purple ul{ padding:0 10px;}
.money_right_purple ul li{ width:25%; float:left; font-size:14px; color:#fff; height:40px; line-height:40px;}
.money_right_purple ul li span{ line-height:20px; padding:10px 0;}
.money_right_purple ul li select{ line-height:20px; padding:9px 10px; border-radius:5px; background:#fff; border:0; font-size:14px; margin-top:-3px; width:70%; color:#acabab;}
.money_right_purple ul li p{ display:inline-block; width:70%; height:20px; line-height:20px; padding:10px 0; border-radius:5px; background:#fff; cursor:pointer; color:#acabab; text-indent:10px; position:relative;font-size:14px;}
.money_right_purple ul li p i{ position:absolute; display:block; width:20px; height:20px; top:10px; right:20px;}
.money_table_list{ border:1px solid #707070; border-top:0; margin:0 10px; padding:10px; border-radius:0 0 5px 5px; height:312px;}

/*登录*/
.login_bg{ background:#f6efe9;}
.login_head{ text-align:center; height:70px; line-height:70px; background:#ed5565; border-bottom:3px solid #da4453; padding:0 20px;}
.login_logo{ padding:12px 0; height:46px;margin:0 auto;}
.login_logo img{ width:500px; height:46px;}
.login_mian{ position:relative;}
.login_main_center{ position:absolute; width:100%; left:0; top:7%; text-align:center;}
.login_main_center_mid{ width:1000px; margin:0 auto;}
.login_user{ width:400px; height:370px; float:right; background:#fff; border-radius:5px; border-bottom:3px solid #e3e4e8; position:relative;}
.login_user h1{ font-size:24px; line-height:40px; height:40px; padding:10px 0; background:#ed5565; color:#f0f2f5; border-radius:5px; font-weight:normal;}
.login_input_content{ padding:25px 30px;}
.login_input{ position:relative; padding:0 0 0 50px; background:#fff; border-radius:5px; border:1px solid #e3e4e8; margin-bottom:15px;}
.login_input input{ background:none; border:0; line-height:50px; height:50px; color:#333; font-size:16px; width:100%;}
.login_input i{ position:absolute; left:10px; top:10px; display:block;}
.login_input_content p{ text-align:left; line-height:20px; height:20px; font-size:14px; color:#a4a9ae; }
.login_input_content p span{ padding-left:5px;}
.login_btn{ margin:20px auto; width:300px; overflow:hidden;}
.login_btn_left{ width:120px; height:40px; line-height:40px; color:#fff; font-size:16px; text-align:center; background:#ed5565; border-bottom:3px solid #da4453; border-radius:5px; float:left;}
.login_btn_left a{ display:block; margin:0 auto; text-align:center; border-radius:5px;}
.login_btn_left a span{ padding:0 0 0 30px; background:url(../images/login_btn_icon1.png) left center no-repeat; display:inline-block; color:#fff;}
.login_btn_left a:hover{ background:#da4453;}
.login_btn_right{ width:120px; height:40px; line-height:40px; color:#fff; font-size:16px; text-align:center; background:#a4a9ae; border-bottom:3px solid #83898f; border-radius:5px; float:right;}
.login_btn_right a{ display:block; margin:0 auto; text-align:center; border-radius:5px;}
.login_btn_right a span{ padding:0 0 0 30px; background:url(../images/login_btn_icon2.png) left center no-repeat; display:inline-block; color:#fff;}
.login_btn_right a:hover{ background:#83898f;}
.login_code{ position:absolute; right:-160px; width:110px; bottom:0; background:#fff; padding:20px; text-align:center;}
.login_code img{ width:110px; height:110px;}
.login_code p{ line-height:20px; color:#000; font-size:12px; padding:10px 0 0;}

/*薪酬考核*/
.xin_left{ width:30%; float:left;}
.xin_left_content{ background:#fff; padding:10px; margin-top:10px; border-radius:5px;border-bottom:3px solid #e3e4e8;}
.xin_left_content table td{ line-height:20px; font-size:14px; color:#696969; padding:15px 5px; background:#d0f1fd; border:2px solid #fff; text-align:center;}
.xin_left_content table tr.xin_left_blue td{ background:#4fc1e9; padding:5px 5px; font-size:16px; color:#fff; font-weight:bold;}
.xin_left_btn{ margin:10px auto 0; overflow:hidden;}
.xin_left_btn_left{ width:50%; float:left;}
.xin_left_btn_left a{ display:block;}
.xin_left_btn_left a span{ display:block; margin-right:5px; background:#4fc1e9; height:60px; line-height:60px; text-align:center; color:#fff; font-size:24px; border-bottom:3px solid #3bafda;}
.xin_left_btn_right{ width:50%; float:left;}
.xin_left_btn_right a{ display:block;}
.xin_left_btn_right a span{ display:block; margin-left:5px; background:#4fc1e9; height:60px; line-height:60px; text-align:center; color:#fff; font-size:24px; border-bottom:3px solid #3bafda;}
.xin_left_btn_left a:hover span,.xin_left_btn_right a:hover span{ background:#3bafda;}
.xin_right{ width:70%; float:left;}
.xin_right_content{ background:#fff; border-radius:5px; margin:10px 0 0 10px; padding:0 0 10px; border-bottom:3px solid #e3e4e8;}
.xin_right_content h1{ font-size:16px; font-weight:normal; color:#8a8989; line-height:20px; height:20px; padding:10px 10px;}
.xin_right_blue{ background:#2ea5cf; margin:0 10px; padding:10px 0; border-radius:5px 5px 0 0;}
.xin_right_blue ul{ padding:0 10px;}
.xin_right_blue ul li{ width:25%; float:left; font-size:14px; color:#fff; height:40px; line-height:40px;}
.xin_right_blue ul li span{ line-height:20px; padding:10px 0;}
.xin_right_blue ul li select{ line-height:20px; padding:9px 10px; border-radius:5px; background:#fff; border:0; font-size:14px; margin-top:-3px; width:70%; color:#acabab;}
.xin_right_blue ul li p{ display:inline-block; width:70%; height:20px; line-height:20px; padding:10px 0; border-radius:5px; background:#fff; cursor:pointer; color:#acabab; text-indent:10px; position:relative;font-size:14px;}
.xin_right_blue ul li p i{ position:absolute; display:block; width:20px; height:20px; top:10px; right:20px;}
.xin_table_list{ background:#64d4fb; margin:0 10px; padding:10px; border-radius:0 0 5px 5px; height:257px;}

/**/
.name_left{ width:30%; float:left;}
.name_right{ width:70%; float:left;}
.name_right_content{ background:#fff; border-radius:5px; margin:10px 0 0 10px; padding:0 0 10px; border-bottom:3px solid #e3e4e8;}
.name_right_content h1{ font-size:16px; font-weight:normal; color:#8a8989; line-height:20px; height:20px; padding:10px 10px;}
.name_right_red{ background:#ed5565; margin:0 10px; padding:10px 0; border-radius:5px 5px 0 0;}
.name_right_red ul{ padding:0 10px;}
.name_right_red ul li{ width:25%; float:left; font-size:14px; color:#fff; height:40px; line-height:40px;}
.name_right_red ul li span{ line-height:20px; padding:10px 0;}
.name_right_red ul li select{ line-height:20px; padding:9px 10px; border-radius:5px; background:#fff; border:0; font-size:14px; margin-top:-3px; width:70%; color:#acabab;}
.name_right_red ul li p{ display:inline-block; width:70%; height:20px; line-height:20px; padding:10px 0; border-radius:5px; background:#fff; cursor:pointer; color:#acabab; text-indent:10px; position:relative;font-size:14px;}
.name_right_red ul li p i{ position:absolute; display:block; width:20px; height:20px; top:10px; right:20px;}
.name_table_list{ background:#ff8390; border-top:0; margin:0 10px; padding:10px; border-radius:0 0 5px 5px; height:312px;}
.name_left.nTab .TabTitle li{ width:33.33%;}
.name_left #myTab1_Content0 h3{ font-size:16px; padding-bottom:10px; line-height:20px; height:20px; text-align:center;}
.name_left #myTab1_Content0 ul{ overflow:hidden;}
.name_left #myTab1_Content0 ul li{ width:50%; float:left; text-align:center;}
.name_left #myTab1_Content0 ul li span{ display:block; margin:0 5px 10px;}
.name_left #myTab1_Content0 ul li span h5{ font-size:18px; color:#fff; background:#5d9cec; border-bottom:3px solid #4a89dc; line-height:70px; height:70px; padding:0px 0; font-weight:600;}
.name_left #myTab1_Content0 ul li span h5 i{ font-style:normal; padding-left:70px; display:inline-block; background:url(../images/name_icon1.png) 0 center no-repeat;}
.name_left #myTab1_Content0 ul li span h4{ font-size:26px; color:#5d9cec; background:#f0f2f5; line-height:30px; height:30px; padding:31px 0;}
.name_left #myTab1_Content0 ul li span.name_icon2 h4{ color:#4fc1e9;}
.name_left #myTab1_Content0 ul li span.name_icon2 h5{ background:#4fc1e9; border-bottom-color:#3bafda;}
.name_left #myTab1_Content0 ul li span.name_icon2 h5 i{ background:url(../images/name_icon2.png) 0 center no-repeat;}
.name_left #myTab1_Content0 ul li span.name_icon3 h4{ color:#37bc9b;}
.name_left #myTab1_Content0 ul li span.name_icon3 h5{ background:#48cfad; border-bottom-color:#37bc9b;}
.name_left #myTab1_Content0 ul li span.name_icon3 h5 i{ background:url(../images/name_icon3.png) 0 center no-repeat;}
.name_left #myTab1_Content0 ul li span.name_icon4 h4{ color:#d770ad;}
.name_left #myTab1_Content0 ul li span.name_icon4 h5{ background:#ec87c0; border-bottom-color:#d770ad;}
.name_left #myTab1_Content0 ul li span.name_icon4 h5 i{ background:url(../images/name_icon4.png) 0 center no-repeat;}


/*财务指标*/
.money_left{ width:30%; float:left; padding-right:10px;}
.nTab{overflow:hidden;}
.none {display:none;}
.nTab .TabTitle li{float:left;cursor:pointer;height:30px;line-height:30px;width:50%; text-align:center;}
.nTab .TabTitle li a{text-decoration:none;}
.nTab .TabTitle .active{ border-bottom:3px solid #ed5565;color:#336699}
.nTab .TabTitle .normal{background:#666;color:#fff}
.nTab .TabContent{clear:both;overflow:hidden;background:#fff;padding:5px;display:block}

.layout-panel-north{
    border-radius: 0;
}