<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
	<mapper namespace="com.dao.CategoryDao">
	<!-- 映射结果集 -->
  <resultMap id="BaseResultMap" type="com.bean.Category" >
           <result column="ID" property="id" jdbcType="NUMERIC"  />
           <result column="NAME" property="name" jdbcType="VARCHAR"  />
  </resultMap>
  <!-- 表名或者sql -->
  <sql id="Table_Name">
    CATEGORY
  </sql>
  <!-- 表字段 -->
  <sql id="Base_Column_List" >
   ID,NAME
  </sql>
  <!-- 按Model组装查询条件 -->
<sql id="Example_Where_Clause">
where 1=1
    <trim  suffixOverrides="," >
        <if test="id != null  and id != ''" >
            and ID =  #{id}
        </if>
         <if test="name != null  and name != ''" >
            and NAME =  #{name}
        </if>
    </trim>
</sql>
<!-- 按条件查询 -->
<select id="selectByExample" resultMap="BaseResultMap" parameterType="com.utils.base.BaseSearchModel">
        <include refid="common.selectByExample"/>
</select>

<!-- 按条件查询总数 -->
<select id="countByExample" resultType="java.lang.Integer"  parameterType="com.utils.base.BaseSearchModel">
    <include refid="common.countByExample"/>
</select>

<!-- 按条件分页查询  -->
<select id="selectByExamplePagination" resultMap="BaseResultMap" parameterType="com.utils.base.BaseSearchModel">
    <include refid="common.selectByExamplePagination"/>
</select>    

<insert id="add" parameterType="Category" >
            insert into category ( name ) values (#{name})    
        </insert>
        
        <delete id="delete" parameterType="com.bean.Category" >
            delete from category where id= #{id}   
        </delete>
        
        <select id="get" parameterType="_int" resultType="com.bean.Category">
            select * from   category  where id= #{id}    
        </select>

        <update id="update" parameterType="Category" >
            update category set name=#{name} where id=#{id}    
        </update>
        <select id="list" resultType="Category">
            select * from   category     
        </select>       
        
        
</mapper>